@import '../node_modules/spectre.css/dist/spectre.min.css';
@import '../node_modules/spectre.css/dist/spectre-exp.min.css';
@import '../node_modules/spectre.css/dist/spectre-icons.min.css';

body{
  font-family: 'Nunito Sans';
}

$black: black;

.p-l-80{
  padding-left: 80px;
}
.p-r-80{
  padding-right: 80px;
}
.p-t-20{
  padding-top: 20px;
}
.p-b-20{
  padding-bottom: 20px;
}
.black{
  color: $black;
}
.bold{
  font-weight: bold;
}

.m-t-70{
  margin-top: 70px;
}
.m-t-40{
  margin-top: 40px;
}
.m-b-1{
  margin-bottom: 4px;
}

.m-b-20{
  margin-bottom: 20px;
}

.gray-box-shadow{
  // box-shadow: 0px 0px 10px gray;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.fixed-navbar{
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 70px;
  background-color: white;
  line-height: 70px;
}